.parentRow2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2rem;
    align-items: center;
}

.parentRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2rem;
    align-items: center;
}

.parentColumn {
    display: flex;
    flex-direction: Column;
    justify-content: space-between;
    padding:2rem;
}

.parentColumnCenter {
    display: flex;
    flex-direction: Column;
    justify-content: space-between;
    align-items: center;
}


/* Tablet Sized Screens */

@media screen and (min-width:768px) and (max-width:1024px) {
    .parentRow2 {
        flex-direction: column;
    }

    .parentRow {
        align-items: flex-start;
    }
}


/* mobile screen */

@media screen and (max-width:768px) {
    .parentRow2 {
        flex-direction: column;
    }

    .parentRow {
        align-items: flex-start;
    }
}

