

.nav {
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.nav li {
    min-width: 5rem;
    font-family: 'montserrat', sans-serif;
}

.nav li a {
    display: block;
    padding:1rem;
    text-decoration: none;
    color:rgb(238, 220, 130);
}

.nav li a:hover {
    color:rgb(218, 165, 32);
    background-color: rgba(0,0,0,0.3);
    cursor:pointer;
}

.active {
    background-color: rgba(0,0,0,0.7);
    cursor:pointer;
}


/* Tablet Sized Screens */

@media screen and (min-width:768px) and (max-width:1024px) {
    .nav {
        flex-direction: column;
    }

    .nav li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}


/* mobile screen */

@media screen and (max-width:768px){


    .nav {
        flex-direction: column;
    }

    .nav li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}