
@import url('../css/layout.css');
@import url('../css/global.css');
@import url('../css/nav.css');




/* page contents */

.map img {
    display: flex;
    position:relative;
    width:60%;
    justify-content: space-around;
    padding:2rem;
    margin:2rem;
    left:18%;
}

.right {
    display: flex;
    position:absolute;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin:2rem;
    top:500px;
}

.right div {
    color:rgb(238, 220, 130);
}

.left {
    display: flex;
    position:absolute;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    right:50px;
    margin:2rem;
    top:500px;
}

.left div {
    color:rgb(238, 220, 130);
}

.thumb {
    padding:2rem;
    background-color: #777;
    justify-content: space-around;
   
}