
@import url('../css/layout.css');
@import url('../css/global.css');
@import url('../css/nav.css');



/* page contents */

.pic {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 32%;
    height: auto;
    padding: 2rem;
    margin:1rem;
}

.description {
    display: flex;
    flex-direction: column;
    position: absolute;
    left:35%;
    top:200px;
}

.words {
    width: 100%;
    height: auto;
    padding: 7.5rem;
    margin:1rem;
    color:rgb(238, 220, 130);
    
}

.description h3 {
    font-size: 2.5rem;
}

.description p{
    font-size: 1.5rem;
}

footer {
    margin:1rem;
    padding:2rem;
}

footer button {
    display: flex;
    position: absolute;
    top:6200px;
    right:2.5rem;
    font-size: 2rem;
    background-color:rgb(238, 220, 130);
    border-radius: 10px;
    border:none;
}

footer a {
    font-family: 'montserrat', sans-serif;
    text-decoration: none;
    color:black;
}