@import url(./layout.css);
@import url(./global.css);
@import url(./nav.css);

h2 {
    padding:2rem;
    color: #A65252;
    font-size: 4.5rem;
    text-align: center;
}

.pic {
    padding:1rem;
    width:700px;
}

.pic img {
    border-radius: 30px;
}

.pic img:hover {
    cursor: pointer;
 }

 .icon {
    width:18%;
    padding:2rem;
    
 }

 .icon img:hover{
    opacity: 50%;
    cursor: pointer;
 }


.result {
    padding:1rem;
    color: #A65252;
    font-size: 1.5rem;
    text-align: center;
    /* width: 18%; */
}

.result2 {
    padding:1rem;
    color: #A65252;
    font-size: 1.5rem;
    text-align: center;
}

.result2:hover {
   cursor: pointer;
}